h5 {
  font-family: "Oleo Script", cursive;
  font-size: 60px;
  line-height: 1;
  text-shadow: 1px 2px 5px rgb(58, 58, 58, 0.2);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  line-height: 1.2;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #540375;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #540375;
}

body {
  font-family: "Jost", sans-serif;
  color: rgb(58, 58, 58, 0.7);
}

.btn-primary {
  background-color: #10a19d;
  border-color: #10a19d;
}

.btn-primary:hover {
  background-color: rgb(16, 161, 157, 0.5);
  border-color: rgb(16, 161, 157, 0.3);
}

.btn-secondary:hover {
  background-color: rgb(58, 58, 58, 0.5);
  border-color: rgb(58, 58, 58, 0.3);
}

.code-message {
  color: #3a3a3a;
  font-size: 12px;
  margin: 5px auto;
  max-width: 720px;
}

.conditions-label {
  color: #3a3a3a;
  font-size: 16px;
  text-align: left;
}

.current-conditions {
  font-size: 16px;
  text-align: left;
  display: block;
}

.current-conditions:first-letter {
  text-transform: capitalize;
}

.current-date {
  font-size: 16px;
  font-style: italic;
}

.current-temp {
  color: #540375;
  font-size: 75px;
  line-height: 1;
  text-shadow: 1px 2px 5px rgb(58, 58, 58, 0.3);
  position: relative;
  margin-left: 40px;
}

.far-label {
  position: relative;
  top: -20px;
  color: #3a3a3a;
  font-size: 16px;
  text-align: left;
}

.forecast {
  background-color: rgb(255, 112, 0, 0.2);
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 0;
}

.temp-label {
  color: #3a3a3a;
  font-size: 16px;
  text-align: right;
}

.weather-app {
  border: 3px solid rgb(255, 112, 0, 0.2);
  padding: 25px;
  margin: 20px auto 0 auto;
  border-radius: 10px;
  max-width: 720px;
}

.weather-icon-main img {
  width: 40%;
  height: auto;
  margin-bottom: 5px;
}

.weather-icon-mini {
  display: block;
  text-align: center;
  color: #540375;
  font-size: 30px;
  padding-left: 5px;
  text-shadow: 1px 2px 5px rgb(58, 58, 58, 0.3);
}

.weather-temperature .active {
  color: #3a3a3a;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
  cursor: default;
}
